name: Generate PNG

on:
  push:
    branches:
      - main
    paths:
      - '**.go'

jobs:
  generate:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Install dependencies
        run: go get .

      - name: Generate PNG
        run: go run main.go

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "docs: Regenerate PNG"
          title: "docs: Regenerate PNG"
          body: "Automated PNG regeneration."
          branch: "update-png"
          add-paths: vim-barcodes-a4.png
