name: Generate PNG

on:
  push:
    branches:
      - main
    paths:
      - '**.go'

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Install dependencies
        run: go get .

      - name: Generate PNG
        run: go run main.go

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "docs: Regenerate PNG"
          file_pattern: vim-barcodes-a4.png
